<!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration.dtd">

<hibernate-configuration>
    <session-factory>
        <!--  Paramètres de connexion à la base de données -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/extremjv?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8&amp;useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
		<property name="connection.CharSet">utf8</property>
        <property name="connection.characterEncoding">utf8</property>
        <property name="connection.useUnicode">true</property>

        <!-- Génère les tables et les colonnes -->
        <property name="hbm2ddl.auto">update</property>

		<!-- Driver de connexion "officiel" -->
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">200</property>
        <property name="c3p0.max_statements">200</property>
        <property name="current_session_context_class">thread</property>
        <property name="temp.use_jdbc_metadata_defaults">false</property>

		<property name="show_sql">false</property>
		<property name="generate_statistics">false</property>
		<property name="use_sql_comments">false</property>


        <!-- Fichiers à mapper -->
		<mapping class="beans.Adresse"/>
		<mapping class="beans.Article"/>
		<mapping class="beans.ArticleImage"/>
		<mapping class="beans.Categorie"/>
		<mapping class="beans.Employe"/>
		<mapping class="beans.Occasion"/>
		<mapping class="beans.Organisme"/>
		<mapping class="beans.Particulier"/>
		<mapping class="beans.Tiers"/>
    </session-factory>
</hibernate-configuration>